@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{



}


@layer base{

    @font-face {
        font-family: 'vazir-reqular';
        src: url("/admin/assets/fonts/vazirmatn-Regular.ttf");
    }
    @font-face {
        font-family: 'vazir-bold';
        src: url("/admin/assets/fonts/Vazir-Bold-FD.ttf");
    }
    body{
        font-family: vazir-reqular;
    }
    .font-vazir-bold{
        font-family: vazir-bold;
    }

}


@layer utilities {
    .select2-selection {
        border-radius: 10px!important;
        border: 1px solid #d1d5db!important;
        background-color: #f9fafb!important;
    }
  }
